h1 {
    color: navy;
    font-family: cursive, helvetica;
}

p{
    font-family: helvetica, verdana;
}

label{
   position: absolute;
   font-family: helvetica, verdana;
}
input {
  position: relative;
  margin-left: 75px;
  margin-bottom: 5px;    
}

select {
  position: relative;
  margin-left: 75px;
  margin-bottom: 5px;    
}

.buttonColor1{
    background-color: green;
}

.buttonColor2{
    background-color: white;
}

/*Used to make link to Christmas list more obvious after entry has been made.*/
.listLink {
    font-family: Comic Sans MS;
    font-size: 30px;
    font-weight: bold;   
}

#toy1{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 100px;
    top: 500px;
    -webkit-transition: -webkit-transform 2s; 
    transition: transform 2s;
    }

    div#toy1:hover {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }

#toy2{
    width: 30px;
    height: 30px;
    background-image: radial-gradient(red, darkred);
    border-radius: 50%;
    position: absolute;
    left: 200px;
    top: 600px;
    -webkit-transition-property: width height; 
    -webkit-transition-duration: 2s; 
    transition-property: width height;
    transition-duration: 2s;
    }

   

#toy3{
    width: 30px;
    height: 30px;
    background-image: radial-gradient(green, darkgreen);
    border-radius: 50%;
    position: absolute;
    left: 1000px;
    top: 500px;
    -webkit-transition-property: width height; 
    -webkit-transition-duration: 2s; 
    transition-property: width height;
    transition-duration: 2s;
}

div#toy3:hover {
   width: 50px;
   height: 50px;
}

#toy4{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 800px;
    top: 100px;
    -webkit-transition: -webkit-transform 2s; 
    transition: transform 2s;
}

#toy5{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 500px;
    top: 300px;
    -webkit-transition: -webkit-transform 2s; 
    transition: transform 2s;
}

#toy6{
    width: 30px;
    height: 30px;
    background-image: radial-gradient(red, darkred);
    border-radius: 50%;
    position: absolute;
    left: 1200px;
    top: 200px;
    -webkit-transition-property: width height; 
    -webkit-transition-duration: 2s; 
    transition-property: width height;
    transition-duration: 2s;
}

div#toy6:hover {
   width: 50px;
   height: 50px;
}

#toy7{
    width: 30px;
    height: 30px; 
    position: absolute;
    left: 600px;
    top: 550px;
    -webkit-transition: -webkit-transform 2s; 
    transition: transform 2s;
}

#toy8{
    width: 30px;
    height: 30px; 
    position: absolute;
    left: 1200px;
    top: 500px;
    -webkit-transition: -webkit-transform 2s; 
    transition: transform 2s;
}

#toy9{
    width: 30px;
    height: 30px; 
    position: absolute;
    left: 300px;
    top: 550px;
    -webkit-transition: -webkit-transform 2s; 
    transition: transform 2s;
}

#toy10{
    width: 30px;
    height: 30px; 
    position: absolute;
    left: 700px;
    top: 300px;
    -webkit-transition: -webkit-transform 2s; 
    transition: transform 2s;
}

#toy11{
    width: 30px;
    height: 30px; 
    position: absolute;
    left: 900px;
    top: 600px;
    -webkit-transition: -webkit-transform 2s; 
    transition: transform 2s;
}

#toy12{
    width: 30px;
    height: 30px;
    background-image: radial-gradient(green, darkgreen);
    border-radius: 50%;
    position: absolute;
    left: 900px;
    top: 250px;
    -webkit-transition-property: width height; 
    -webkit-transition-duration: 2s; 
    transition-property: width height;
    transition-duration: 2s;
}

div#toy12:hover {
   width: 50px;
   height: 50px;
}

#toy13{
    width: 30px;
    height: 30px;
    background-image: radial-gradient(green, darkgreen);
    border-radius: 50%;
    position: absolute;
    left: 400px;
    top: 450px;
    -webkit-transition-property: width height; 
    -webkit-transition-duration: 2s; 
    transition-property: width height;
    transition-duration: 2s;
}

div#toy13:hover {
   width: 50px;
   height: 50px;
}

#toy14{
    width: 30px;
    height: 30px;
    background-image: radial-gradient(red, darkred);
    border-radius: 50%;
    position: absolute;
    left: 740px;
    top: 440px;
    -webkit-transition-property: width height; 
    -webkit-transition-duration: 2s; 
    transition-property: width height;
    transition-duration: 2s;
}

div#toy14:hover {
   width: 50px;
   height: 50px;
}