h1 {
    color: navy;
    font-family: cursive, helvetica;
}

p{
    font-family: helvetica, verdana;
}

label{
   position: absolute;
   font-family: helvetica, verdana;
}
input {
  position: relative;
  margin-left: 75px;
  margin-bottom: 5px;    
}

select {
  position: relative;
  margin-left: 75px;
  margin-bottom: 5px;    
}

.buttonColor1{
    background-color: green;
}

.buttonColor2{
    background-color: white;
}

#toy1{
    width: 30px;
    height: 30px;
    background: darkred;
    position: absolute;
    left: 100px;
    top: 500px;
    -webkit-transition: -webkit-transform 2s; 
    transition: transform 2s;
    }

    div#toy1:hover {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }

#toy2{
    width: 30px;
    height: 30px;
    background: darkred;
    border-radius: 50%;
    position: absolute;
    left: 200px;
    top: 600px;
    -webkit-transition-property: width height; 
    -webkit-transition-duration: 2s; 
    transition-property: width height;
    transition-duration: 2s;
    }

   

#toy3{
    width: 30px;
    height: 30px;
    background: darkred;
    border-radius: 50%;
    position: absolute;
    left: 1000px;
    top: 500px;
    -webkit-transition-property: width height; 
    -webkit-transition-duration: 2s; 
    transition-property: width height;
    transition-duration: 2s;
}

div#toy3:hover {
   width: 50px;
   height: 50px;
}

#toy4{
    width: 30px;
    height: 30px;
    background: darkred;   
    position: absolute;
    left: 800px;
    top: 100px;
    -webkit-transition: -webkit-transform 2s; 
    transition: transform 2s;
}

#toy5{
    width: 30px;
    height: 30px;
    background: darkred;
    position: absolute;
    left: 500px;
    top: 300px;
    -webkit-transition: -webkit-transform 2s; 
    transition: transform 2s;
}

#toy6{
    width: 30px;
    height: 30px;
    background: darkred;
    border-radius: 50%;
    position: absolute;
    left: 1200px;
    top: 200px;
    -webkit-transition-property: width height; 
    -webkit-transition-duration: 2s; 
    transition-property: width height;
    transition-duration: 2s;
}

div#toy6:hover {
   width: 50px;
   height: 50px;
}

#toy7{
    width: 30px;
    height: 30px;
    background: darkred; 
    position: absolute;
    left: 600px;
    top: 550px;
    -webkit-transition: -webkit-transform 2s; 
    transition: transform 2s;
}