h1 {
    color: navy;
    font-family: cursive, helvetica;
}

p{
    font-family: helvetica, verdana;
}

label{
   position: absolute;
   font-family: helvetica, verdana;
}
input {
  position: relative;
  margin-left: 75px;
  margin-bottom: 5px;    
}

select {
  position: relative;
  margin-left: 75px;
  margin-bottom: 5px;    
}

.buttonColor1{
    background-color: green;
}

.buttonColor2{
    background-color: white;
}
